
<main>
  <div class="container-fluid row " id="contenidoP" >
    <!--FILTRAR SEGUN-->
    <div class="container-fluid col-sm-2" id="menuCatalogo">
        <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy 
        text-center">
         <!--seleccionar catalogo-->
          <h3 id="botonesMenu" >
            FILTRAR</h3>
          <a class="p-1 rounded" href="#simple-list-item-1"><i class="fa-solid fa-globe"></i> Todos</a>
          <a class="p-1 rounded" href="#simple-list-item-2"><i class="fa-solid fa-tag"></i>   Marca</a>
          <a class="p-1 rounded" href="#simple-list-item-3"><i class="fa-solid fa-dollar-sign"></i> Precio</a>
          <a class="p-1 rounded" href="#simple-list-item-4"><i class="fa-solid fa-calendar-days"></i> Año</a>
          <a class="p-1 rounded" href="#simple-list-item-5"><i class="fa-solid fa-palette"></i>  Color</a>
        </div> 
    </div>
  <!--CATALOGO-->
    <div class="container-fluid col-sm-9" id="catalogo" >
        <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" 
        data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0" id="catalogo">
          <!--TODOS-->
          <h4 id="simple-list-item-1" >TODOS</h4>
         <div id="todos" >
           <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCero" 
          aria-expanded="false" aria-controls="flush-collapseCero">
            Todos los autos
          </button>
        </h2>
        <div id="flush-collapseCero" class="accordion-collapse collapse" 
        data-bs-parent="#accordionFlushExample" >
          <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
            <img [src]=imgA1 alt="a1">
            <img [src]=imgA2 alt="a2">
            <img [src]=imgA3 alt="a1">
            <img [src]=imgA4 alt="a1">
            <img [src]=imgA5 alt="a1">
            <img [src]=imgA6 alt="a1">
            <img [src]=imgA7 alt="a1">
            <img [src]=imgA8 alt="a1">
            <img [src]=imgA9 alt="a1">
            <img [src]=imgA10 alt="a1">
            <img [src]=imgA11 alt="a1">
            <img [src]=imgA12 alt="a1">
            <img [src]=imgA13 alt="a1">
            <img [src]=imgA14 alt="a1">
            <img [src]=imgA15 alt="a1">
            <img [src]=imgA16 alt="a16">
        </div>
      </div>
</div>
           </div>
         </div>
          <!--segun MARCA-->
          <h4 id="simple-list-item-2" >MARCA</h4>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" 
                aria-expanded="false" aria-controls="flush-collapseOne">
                  Volkswagen
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" 
              data-bs-parent="#accordionFlushExample" >
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                  <img [src]=imgA2 alt="a1">
                  <img [src]=imgA3 alt="a1">
                  <img [src]=imgA4 alt="a1">
                  <img [src]=imgA5 alt="a1">
                  <img [src]=imgA6 alt="a1">
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                 aria-expanded="false" aria-controls="flush-collapseTwo">
                  Ford
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                  <img [src]=imgA7 alt="a1">
                  <img [src]=imgA8 alt="a1">
                  <img [src]=imgA9 alt="a1">
                  <img [src]=imgA10 alt="a1">
                  <img [src]=imgA11 alt="a1">
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                 aria-expanded="false" aria-controls="flush-collapseThree">
                  Chevrolet
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                  <img [src]=imgA12 alt="a1">
                  <img [src]=imgA13 alt="a1">
                  <img [src]=imgA14 alt="a1">
                  <img [src]=imgA15 alt="a1">
                  <img [src]=imgA16 alt="a1">
              </div>
            </div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" 
                  aria-expanded="false" aria-controls="flush-collapseFour">
                    Peugeot
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                    <img [src]=imgA2 alt="a1">
                    <img [src]=imgA3 alt="a1">
                    <img [src]=imgA4 alt="a1">
                    <img [src]=imgA5 alt="a1">
                    <img [src]=imgA6 alt="a1">
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                   aria-expanded="false" aria-controls="flush-collapseFive">
                   Fiat
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                    <img [src]=imgA7 alt="a1">
                    <img [src]=imgA8 alt="a1">
                    <img [src]=imgA9 alt="a1">
                    <img [src]=imgA10 alt="a1">
                    <img [src]=imgA11 alt="a1">
                    </div>
                </div>
              </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" 
                aria-expanded="false" aria-controls="flush-collapseSix">
                 Otros
                </button>
              </h2>
              <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                <img [src]=imgA12 alt="a1">
                  <img [src]=imgA13 alt="a1">
                  <img [src]=imgA14 alt="a1">
                  <img [src]=imgA15 alt="a1">
                  <img [src]=imgA16 alt="a1">
                </div>
              </div>
            </div>
          </div>
  </div>
  </div>
  </div>
        </div>
          <!--segun PRECIO-->
          <h4 id="simple-list-item-3" >PRECIO</h4>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" 
                aria-expanded="false" aria-controls="flush-collapseSeven">
                  Menos de $5 millones
                </button>
              </h2>
              <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
            
                  <img [src]=imgA4 alt="a1">
                  <img [src]=imgA5 alt="a1">
                  <img [src]=imgA6 alt="a1">
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight"
                 aria-expanded="false" aria-controls="flush-collapseEight">
                  Entre $5 millones a $10 millones
                </button>
              </h2>
              <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                  <img [src]=imgA1 alt="a1">
                  <img [src]=imgA15 alt="a1">
                  <img [src]=imgA8 alt="a1">
                  <img [src]=imgA5 alt="a1">
                  <img [src]=imgA10 alt="a1">
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine"
                 aria-expanded="false" aria-controls="flush-collapseNine">
                  Mas de $10 millones
                </button>
              </h2>
              <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                  <img [src]=imgA10 alt="a1">
                  <img [src]=imgA9 alt="a1">
                  <img [src]=imgA4 alt="a1">
                  <img [src]=imgA15 alt="a1">
                  <img [src]=imgA6 alt="a1">
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
          <!--segun ANTIGUEDAD-->
          <h4 id="simple-list-item-4" >ANTIGUEDAD</h4>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" 
                aria-expanded="true" aria-controls="flush-collapseTen">
                Antes de 2005 
                </button>
              </h2>
              <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                  <img [src]=imgA10 alt="a1">
                  <img [src]=imgA9 alt="a1">
                  <img [src]=imgA4 alt="a1">
                  <img [src]=imgA15 alt="a1">
                  <img [src]=imgA6 alt="a1">
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven"
                 aria-expanded="false" aria-controls="flush-collapseEleven">
                  2005 a 2015
                </button>
              </h2>
              <div id="flush-collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                  <img [src]=imgA10 alt="a1">
                  <img [src]=imgA9 alt="a1">
                  <img [src]=imgA4 alt="a1">
                  <img [src]=imgA15 alt="a1">
                  <img [src]=imgA6 alt="a1">
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTw"
                 aria-expanded="false" aria-controls="flush-collapseTw">
                  Despues del 2015
                </button>
              </h2>
              <div id="flush-collapseTw" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                  <img src="autos/a6.png" alt="a6">
                  <img src="autos/a16.png" alt="a16">
                  <img src="autos/a2.png" alt="a2">
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
          <!--segun COLOR-->
          <h4 id="simple-list-item-5" >COLOR</h4>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" 
                aria-expanded="true" aria-controls="flush-collapseTen">
                  Negro
                </button>
              </h2>
              <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                  <img [src]=imgA10 alt="a1">
                  <img [src]=imgA9 alt="a1">
                  <img [src]=imgA4 alt="a1">
                  <img [src]=imgA15 alt="a1">
                  <img [src]=imgA6 alt="a1">
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven"
                 aria-expanded="false" aria-controls="flush-collapseEleven">
                  Blanco
                </button>
              </h2>
              <div id="flush-collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                  <img [src]=imgA10 alt="a1">
                  <img [src]=imgA9 alt="a1">
                  <img [src]=imgA4 alt="a1">
                  <img [src]=imgA15 alt="a1">
                  <img [src]=imgA6 alt="a1">
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseT"
                 aria-expanded="false" aria-controls="flush-collapseT">
                  Otros Colores
                </button>
              </h2>
              <div id="flush-collapseT" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="display: grid; grid-template-columns: repeat(3,1fr);">
                  <img src="autos/a3.png" alt="a3">
                  <img src="autos/a11.png" alt="a11">
                  <img src="autos/a4.png" alt="a4">
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
    </div>
  </div>
    


  <div id="contenedorSecundario">
    
<p id="tituloSecundario">
  "Sigue explorando y conociendo:"</p>
  <ul class="nav nav-tabs">
<!--routerLink a Lista de Autos-->
    <li class="nav-item">
      <a class="nav-link" routerLink="/listaautos" >
      <strong>Lista de Autos</strong></a>
    </li>
<!--routerLink a Seccion Comentarios-->
    <li class="nav-item">
      <a class="nav-link" routerLink="/comentarios">
      <strong>Comentarios</strong></a>
    </li>
  </ul>
</div>

  </main>
