main {
    background-color: rgb(192, 188, 188);  
}
#contenidoP {
    background-image: url(/logos/imgfondo.webp); 
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    background-attachment: fixed;
margin: 0%;
padding: 0%;
}
#menuCatalogo {
    height: fit-content;
    margin:2%;
    border-radius: 20px;
    background-color: rgb(43, 43, 44); 
    padding-top: 3%;
    padding-bottom: 10%;
    font-family:Georgia, 'Times New Roman', Times, serif;

    color: rgb(255, 255, 255);
}
a {
    width: 55%;
    margin: auto;
    color: black;
    background-color: rgb(122, 119, 119);
    text-decoration: none;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 500;
}
a:hover {
    background-color: rgb(47, 104, 228);
    font-weight: 700;
    color: white;
 font-style: italic;
 transform: scale(1.0);
}
div h2 :hover {
    transform: scale(1.0);
    background-color: rgb(59, 224, 236);
    font-weight: 700;
}
#botonesMenu{
    text-decoration: underline; 
    margin-left: 0%;
}
#catalogo {
    background-color: rgb(168, 167, 167);  
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
#catalogo h4 {
    background-color: rgb(119, 116, 116); 
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none; 
    text-align: center;
    border-radius: 25px; 
    width: 50%; 
    margin: auto; 
    margin-bottom: 2%; 
    margin-top: 2%;
    padding: 1%;
}    
#catalogo div img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}
#todos img {
    width: 20%;
    height: 40%;
    object-fit: cover;
}
#contenedorSecundario{
background-color: rgb(192, 188, 188);
}
#tituloSecundario{
    width: 100%; 
    margin-left: 30%; 
    margin-top: 1%; 
    font: 2em sans-serif;
   
}
.nav-item{
    margin-left: 3%; 
    margin-top: 2%;
}
.nav-link{
    width: fit-content; 
    font: 2em sans-serif; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




