
<header >
  <nav >
    <div>
      <a class="navbar-brand" href="#" id="tituloylogo" >
        <img src="logos/logoempresa.png" alt="logo" id="logoEmp"
         class="d-inline-block align-text-top">
      <h1 id="titulo"> Concesionaria LT</h1> 
      </a>
      <div>
      <p id="descripcion" style="font-weight: 500; font-size: larger; color: aliceblue; font-family: 'Times New Roman', Times, serif;">
        "Donde podes encontrar tu auto ideal a un precio mas accesible,<br>
         o la manera de deshacerte de tu antiguo auto"
        </div>
    </div>
  </nav>
  
<!-- btn desplega Info 1 -->
<button id="btn1a" type="button" class="btn btn-primary col-sm-2" data-bs-toggle="modal"
 data-bs-target="#staticBackdrop1" >
  Nuestro Negocio
</button>
<!-- info 1 -->
<div class="modal fade col-sm-2" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content" style="background-color: rgb(78, 191, 199); color: black;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel1">Sobre nuestro negocio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    <p> "Concesionaria LT" es una empresa familiar a cargo de..., creada en 2012 como un emprendimiento 
      que poco a poco fue creciendo. El negocio se enfoca tanto en la venta y compra de vehiculos usados propios, 
      asi como tambien  de terceros. 
      Actualmente el negocio cuenta con no mas de 5 empleados incluido el dueño, y se encuentra en proceso 
      de expansion al incluir servicio de mantenimiento y lavado de vehiculos. 
      Cualquier reclamo o consulta puede acerse en el local fisico o dejando un comentario en nuestra web.
      <img src="/logos/imgejemplo.jpg" alt="relleno" 
      style=" width: 100%;height: 100%; object-fit: cover;">
    </p>
      </div>
    </div>
  </div>
</div>
<!-- btn desplega Info 2-->
<button id="btn2a" type="button" class="btn btn-primary col-sm-2" data-bs-toggle="modal" 
data-bs-target="#staticBackdrop2">
  Localizacion
</button>
<!-- info 2 -->
<div class="modal fade col-sm-2" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"style="background-color: rgb(78, 191, 199); color: black;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel2">Localizacion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <p>Nuestro negocio se encuentra en la localidad de Las Toscas, Provincia de Sta Fe, en barrio..., 
        entre calle... y calle...
      Puede acceder a su localizacion ingresando en el siguiente link:
        <a href="https://www.google.com/maps/place/Las+Toscas,+Santa+Fe/data=!4m2!3m1!1s0x944f0e493013c031:0xa2eed2b3f1cf8666?sa=X&ved=1t:242&ictx=111"
         data-bs-toggle="tooltip" title="Tooltip" style="color: rgb(14, 10, 236); font-size: larger; font-weight: 600;">Mapa en linea</a> </p>
      </div>
    </div>
  </div>
</div>
<!-- btn desplega Info 3-->
<button id="btn3a" type="button" class="btn btn-primary col-sm-2" data-bs-toggle="modal"
 data-bs-target="#staticBackdrop3" >
  Info de los autos
</button>
<!-- info 3-->
<div class="modal fade col-sm-2" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: rgb(78, 191, 199); color: black;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel3">Info de los autos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    <p>Los vehiculos que el usuario puede encontrar en la web son los mismos que el negocio tiene en su disposicion 
      actualmente. Todos cuentan con los registros necesarios para circular, y aunque puedan llegar a tener algun desfecto
      (pintura, abolladuras, kilometraje) la empresa se encarga de acondicionarlos para que sean seguros y habiles de usar 
      en carretera.
      Los precios que ofrecemos se basan en la opinion, tanto personal como de expertos, sobre la calidad y funcionabilidad 
      actual que posee el vehiculo. </p>
      </div>
    </div>
  </div>
</div>
<!-- btn desplega Info 4-->
<button id="btn4a" type="button" class="btn btn-primary col-sm-2" data-bs-toggle="modal"
 data-bs-target="#staticBackdrop4" >
  Atencion al cliente
</button>
<!-- info 4-->
<div class="modal fade col-sm-2" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: rgb(78, 191, 199); color: black;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel4">Atencion al cliente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    <p>Como empresa nos interesa lo que piense nuestros clientes, por lo que ante cualquier duda el usuario 
      puede acercarse a nuestro local en el horario de atencion (entre las 8am a 8pm de Lunes a Sabado) y 
      lo ayudaremos en lo que necesite. Tambien puede dejar comentarios en nuestra web en la seccion 
      "Sugerencias y Comentarios",o simplemente llamandonos al: (+54) 3482-****** </p>
      </div>
    </div>
  </div>
</div>
</header>
