<!--lista de vehiculos-->
<div class="container text-center" id="conPrincipal">
    
  <div id="separador"><h2 id="tituloh2">LISTA DE VEHICULOS</h2></div>
  


<!--LISTA CREADA MEDIANTE UN MODELO (desclistaautos), SUBIDA DESDE UN SERVICIO (mostrarlista) 
E INFORMACION DEFINIDA EN UN ARCHIVO JSON (lista)-->


    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h4 class="tituloh4" >En venta</h4>

        <section *ngFor="let desclistaautos of cargarLista" class="flex justify-center">
          <p style="font-weight: 500;">
             MARCA: {{desclistaautos.marca}}, 
             MODELO: {{desclistaautos.modelo}}, 
             AÑO: {{desclistaautos.anio}}
          </p>
        </section>
      </div>







      <!--LISTA SUBIDA DESDE TS DEL PROPIO COMPONENTE-->
      <div class="col-lg-6 col-sm-12">
        <h4 class="tituloh4" >
          Adquiridos recientemente</h4>
        <section *ngFor="let autos of agregadosRecientemente" class="flex justify-center">
          <p style="font-weight: 500;">
             MARCA: {{autos.marca}}, MODELO: {{autos.modelo}}, AÑO: {{autos.anio}}
          </p>
        </section>
      </div>

    </div>
  </div>
